<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kyrca4.Properties.Settings.ab202ConnectionString"
            connectionString="Data Source=10.10.0.120;Initial Catalog=ab202;User ID=a202;Password=Aa-123456"
            providerName="System.Data.SqlClient" />
        <add name="Kyrca4.Properties.Settings.PoliceConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Police;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kyrca4.Properties.Settings.PoliceDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PoliceDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>